/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px){
    #resolution{
        background-color: rgb(245, 45, 138);}
    #resolution::after{
        content:"L (desktops, 992px and up)";}


main{
    padding-bottom: 4rem;
}
        h2{
            font-size: 3rem;
        }
        .home{
            font-size: 25px;
        }
//--------------------------------------- page index ---------------------------------------------------
.video{
    margin-bottom: 4rem;
}
.game{
    margin-top: 5rem;
}

        .faq-concours{
            display: block;
        }
        .col-8{
            max-width: initial;
        }
        .col-4{
            max-width: initial;
        }
//--------------------------------------- page even ---------------------------------------------------
        .ul_program{
            padding-top:2rem;
        }
        
    
        #selection{
            margin-bottom: 0;
           

        }
        .sous-titre{
            font-size: 20px;
            margin-bottom: 100px;
        }
        .fp-slidesContainer{
            transform: none;
        } 
        .h2{
            font-size: 3rem;
        }
        .selection{
            font-size: 20px;
        }
        .fp-tableCell{
            display: block!important;
        }
        .fp-controlArrow{
            top:8%!important;
        }
//--------------------------------------- even ---------------------------------------------------
.white{
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    padding-top: 8rem;
}
.video{
    padding-right: inherit;
}
.image-even-img{
    height: 700px;
}

#section2{
    margin-top: 6rem;
}


//--------------------------------------- lieux ---------------------------------------------------
.carre-lieux{
    height: 100%;
}
//--------------------------------------- footer ---------------------------------------------------
footer{
    background-size: 50%;
}

.foote_bottom_ul_amrc{
    display: block!important;
}

.form-control{
    display: block!important;
    width:100%!important;
    
}
}