/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
 
    #resolution{
        background-color: rgb(234, 253, 198);}
    #resolution::after{
        content:"S (600px)";}

    
        .backparallax{
            display: none;
        }
        #buttontop{
            display: none;
        }

//--------------------------------------- footer ---------------------------------------------------

footer{
    margin-top: 5rem;
}
//--------------------------------------- contact ---------------------------------------------------
.column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .p-3{
    padding: 0.5rem!important;
  }
//--------------------------------------- even ---------------------------------------------------
  .day{
    font-size: 1.81818rem;
  }
  .hour{
    font-size: 0.81818rem;
  }
  .info-img-prix{
      margin-top: 1.5rem;
  }
  .price, .min {
    font-size: 1rem;
}
.image-even-img {
    height: 600px;
}
.info-img-date{
    margin-top: -390px;
}
.white{
    padding-top: 1rem;
}


}