/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px){ 
    #resolution{
        background-color: rgb(45, 222, 245);}
    #resolution::after{
        content:"XL (1200px)";}
        
 .row-even{
     width: auto;
 }
    




 .image-even-img{
     height: auto;
   
 }
  
    }