@font-face {
  font-family: 'cinzelbold';
  src: url("fonts/cinzel-bold-webfont.woff2") format("woff2"), url("fonts/cinzel-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cinzelblack';
  src: url("fonts/cinzel-black-webfont.woff2") format("woff2"), url("fonts/cinzel-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cinzelbold';
  src: url("fonts/cinzel-bold-webfont.woff2") format("woff2"), url("fonts/cinzel-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cinzelregular';
  src: url("fonts/cinzel-regular-webfont.woff2") format("woff2"), url("fonts/cinzel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url("fonts/montserrat-bold-webfont.woff2") format("woff2"), url("fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: url("fonts/montserrat-light-webfont.woff2") format("woff2"), url("fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratmedium';
  src: url("fonts/montserrat-medium-webfont.woff2") format("woff2"), url("fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("fonts/montserrat-regular-webfont.woff2") format("woff2"), url("fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#resolution {
  position: absolute;
  z-index: 999;
  width: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #161616;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #EAE2E0;
}

a:hover {
  color: #6633FF;
  text-decoration: none;
}

main {
  min-height: 200px;
  background-color: #161616;
  padding-bottom: 10rem;
  height: 100%;
}

h2, .h2 {
  color: #6633FF;
  font-family: 'cinzelblack';
  font-size: 5em;
  font-weight: 800;
  text-align: center;
}

h3, h4 {
  font-family: 'cinzelblack';
  font-weight: 800;
  color: #6633FF;
}

header {
  min-height: 5rem;
  padding: 1rem;
}

.input-menu {
  display: none;
}

.open {
  background-color: #EAE2E0;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
  z-index: inherit;
}

.open:before {
  content: "";
  background-color: #EAE2E0;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: #EAE2E0;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
  z-index: 555;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #161616;
}

.menu .label-menu {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 10%;
  font-size: 54px;
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li .a-menu {
  display: block;
  color: #161616;
  text-shadow: 2px 0 0 #11FFEE, 2px 2px 0 #11FFEE, 0 2px 0 #11FFEE, -2px 2px 0 #11FFEE, -2px 0 0 #11FFEE, -2px -2px 0 #11FFEE, 0 -2px 0 #11FFEE, 2px -2px 0 #11FFEE;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: 'cinzelblack';
  letter-spacing: 10px;
}

.a-menu {
  text-decoration: none;
  position: relative;
}

.a-menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
  background-color: #11FFEE;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

.a-menu:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu ul li .a-menu:hover {
  color: #11FFEE;
  text-shadow: none;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 9;
}

.menuEffects ul {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: #EAE2E0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: #EAE2E0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 12;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  z-index: 12;
}

.ul_program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.li_program {
  list-style-type: none;
  text-transform: uppercase;
}

.content {
  padding: 10px;
  margin-bottom: 3rem;
}

.opacity-color {
  background: #6633FF;
  width: 50vh;
}

.opacity-color-img {
  width: 100%;
  opacity: .5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: unset !important;
}

.opacity-color:hover .opacity-color-img {
  opacity: 1;
}

.h3-program {
  color: #FFCC33;
  font-family: 'cinzelblack';
  font-weight: 600;
  font-size: 80px;
  margin-top: -200px;
  margin-bottom: 120px;
  margin-left: -30px;
  position: relative;
}

.h4-program {
  color: #FFCC33;
  font-weight: 400;
}

.h5-program {
  color: #FFCC33;
  text-transform: uppercase;
  font-weight: 200;
}

th {
  color: #6633FF;
}

.agenda .agenda-date {
  width: 170px;
}

.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
  color: #EAE2E0;
}

.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}

.dayofweek {
  color: #EAE2E0;
}

.agenda .agenda-time {
  width: 140px;
  color: #EAE2E0;
}

.agenda .agenda-events {
  color: #196ab1;
}

.agenda .agenda-events .agenda-event {
  color: #EAE2E0;
}

.agenda_event {
  color: #FFCC33;
}

.agenda-lieu {
  color: #EAE2E0;
}

.row-even {
  width: 120%;
}

.h2even {
  width: 100vw;
  text-align: center;
}

.div-titres {
  margin-top: 100px;
  margin-bottom: 50px;
}

.div-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video {
  display: inline;
}

.image-even {
  display: inline-block;
  position: relative;
  margin-top: 90px;
}

.image-even-img {
  height: 100%;
  width: auto;
}

.text-even {
  z-index: 2;
  position: absolute;
  text-align: center;
  color: #EAE2E0;
  width: 719px;
  height: 480;
}

.info-img-date {
  line-height: 1.15;
  margin-top: -340px;
}

.info-img-prix {
  margin-top: 130px;
}

.day {
  font-size: 1.81818rem;
  margin-right: 10px;
}

.hour {
  font-size: .81818rem;
  margin-left: 0 !important;
}

.even-fluid {
  padding-left: 0;
  padding-right: 0;
}

.even {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #EAE2E0), color-stop(50%, #161616));
  background: linear-gradient(to right, #EAE2E0 50%, #161616 50%);
  margin: 0;
  height: 100vh;
}

.tickets {
  margin-top: 550px;
  float: right;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background: #FFCC33;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 6px 6px 0 #6633FF;
          box-shadow: 6px 6px 0 #6633FF;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 0 #6633FF;
          box-shadow: 10px 10px 0 #6633FF;
}

.cta span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 45px;
}

span {
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
}

/**************SVG****************/
path.one {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

path.two {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.cta:hover path.three {
  -webkit-animation: color_anim 1s infinite 0.2s;
          animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.6s;
          animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.4s;
          animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@-webkit-keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #6633FF;
  }
  100% {
    fill: white;
  }
}
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #6633FF;
  }
  100% {
    fill: white;
  }
}

.selection {
  color: #6633FF;
  font-size: 25px;
  text-align: center;
}

#selection {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  margin-bottom: -180px;
}

.sous-titre {
  text-align: center;
  color: #EAE2E0;
  font-size: 25px;
  font-weight: 200;
}

footer {
  width: 100%;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
  background-color: #161616;
  background-image: url(../img/motif-j.png);
  background-size: contain;
}

.cta-title {
  color: #6633FF;
  background-color: #161616;
}

.btn-primary {
  background-color: #11FFEE;
  border-color: #11FFEE;
  color: #6633FF;
}

.btn-primary:hover {
  background-color: #6633FF;
  border-color: #6633FF;
  color: #11FFEE;
}

.bottom_border {
  border-bottom: 1px solid #EAE2E0;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #EAE2E0;
  font-size: 20px;
  margin: 0 12px;
  background-color: #161616;
}

.foote_bottom_ul_amrc li a:hover {
  color: #6633FF;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #EAE2E0;
  border: 1px solid #EAE2E0;
  padding: 8px;
  border-radius: 50%;
  background-color: #161616;
}

.social_footer_ul li a:hover {
  color: #6633FF;
  border: 1px solid #6633FF;
  padding: 8px;
  border-radius: 50%;
  -webkit-transition: color 140ms ease;
  transition: color 140ms ease;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.cta-title {
  font-size: 40px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
  #resolution {
    background-color: #2ddef5;
  }
  #resolution::after {
    content: "XL (1200px)";
  }
  .row-even {
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  #resolution {
    background-color: #f52d8a;
  }
  #resolution::after {
    content: "L (desktops, 992px and up)";
  }
  .ul_program {
    padding-top: 2rem;
  }
  .opacity-color {
    width: auto;
  }
  .h3-program {
    margin-left: 0;
    font-size: 60px;
    margin-top: -150px;
    margin-bottom: 90px;
  }
  .h4-program {
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
  }
  .content {
    margin-bottom: 3rem;
  }
  #selection {
    margin-bottom: 0;
  }
  .sous-titre {
    font-size: 20px;
    margin-bottom: 100px;
  }
  .fp-slidesContainer {
    -webkit-transform: none;
            transform: none;
  }
  .h2 {
    font-size: 3rem;
  }
  .selection {
    font-size: 20px;
  }
  .fp-tableCell {
    display: block !important;
  }
  .fp-controlArrow {
    top: 8% !important;
  }
  .cta-title {
    font-size: 50px;
  }
  .foote_bottom_ul_amrc {
    display: block !important;
  }
  .form-control {
    display: block !important;
    width: 100% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  #resolution {
    background-color: #787af7;
  }
  #resolution::after {
    content: "Medium devices (tablets, 768px and up)";
  }
  .menu .menuContent {
    font-size: 30px;
  }
  .a-menu:before {
    margin-bottom: 30px;
    height: 3px;
  }
  .h3-program {
    margin-left: 0;
    font-size: 40px;
    margin-top: -100px;
    margin-bottom: 60px;
  }
  .h4-program {
    font-size: 15px;
  }
  h5 {
    font-size: 15px;
  }
  footer {
    background-size: cover;
  }
  .cta-title {
    font-size: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
  #resolution {
    background-color: #eafdc6;
  }
  #resolution::after {
    content: "S (600px)";
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 600px) {
  #resolution {
    background-color: #f59e2d;
  }
  #resolution::after {
    content: "XS (600px)";
  }
  main {
    padding-bottom: 3rem;
  }
  h2, .h2 {
    font-size: 3em;
  }
  .fp-controlArrow {
    top: 30% !important;
  }
  .fp-controlArrow.fp-prev {
    border-width: 19.25px 17px 19.25px 0 !important;
  }
  .fp-controlArrow.fp-next {
    border-width: 19.25px 0 19.25px 17px !important;
  }
}
/*# sourceMappingURL=style.css.map */